<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <h1>Add Employee</h1>
    <form method="POST">
        Username : <input type="text" name="username" required><br><br>
        Password : <input type="password" name="password" required><br><br>
        Type     : <input type="text" name="type" required><br><br>
        <input type="submit" value="REGISTER" name="btnRegister">
    </form>
</body>
</html>